name: Deploy Laravel to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e

            source ~/.bashrc || true
            source ~/.profile || true

            cd /var/www/laravel_homework_system

            echo "Pulling latest changes"
            git pull origin main

            echo "Setting up project"
            export COMPOSER_ALLOW_SUPERUSER=1
            composer setup

            echo "deploy finished"
