name: CI / Deploy Laravel to VPS

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
      - name: Install PHP dependencies
        run: composer install --no-progress --no-interaction
      - name: Run PHP Unit tests
        run: php artisan test

  deploy:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e

            cd /var/www/laravel_homework_system

            echo "Pulling latest changes"
            git pull origin main

            echo "Installing PHP dependencies (DEV)"
            composer install

            echo "Adding Node to PATH"
            export PATH="$HOME/.nvm/versions/node/v23.9.0/bin:$PATH"
            
            echo "Installing JS dependencies"
            /root/.nvm/versions/node/v23.9.0/bin/pnpm install

            echo "Building frontend"
            /root/.nvm/versions/node/v23.9.0/bin/pnpm run build

            echo "Running migrations"
            php artisan migrate --force

            echo "Clearing caches"
            php artisan optimize:clear

            echo "deploy finished"
